[submodule "SlideVirtu"]
	path = SlideVirtu
	url = https://github.com/gauthierc/SlideVirtu
[submodule "SlideELK"]
	path = SlideELK
	url = https://github.com/gauthierc/SlideELK
[submodule "SlideCoreOS"]
	path = SlideCoreOS
	url = https://github.com/gauthierc/SlideCoreOS
[submodule "SlideDockerMicroservices"]
	path = SlideDockerMicroservices
	url = https://github.com/gauthierc/SlideDockerMicroservices.git
[submodule "SlideElasticBeats"]
	path = SlideElasticBeats
	url = https://github.com/gauthierc/SlideElasticBeats
[submodule "SlideGit"]
	path = SlideGit
	url = https://github.com/gauthierc/SlideGit
