[submodule "SlideVirtu"]
	path = SlideVirtu
	url = https://github.com/gauthierc/SlideVirtu
[submodule "SlideELK"]
	path = SlideELK
	url = https://github.com/gauthierc/SlideELK
[submodule "SlideCoreOS"]
	path = SlideCoreOS
	url = https://github.com/gauthierc/SlideCoreOS
